@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif; 
}
/*=================
 other's font family
 ================== */
/* =============================
font-family: 'Bebas Neue', cursive;
==================================== */

/* header-section */
.header-section{
    background:#264653;
}
.header-section a{
    color: rgba(255, 255, 255, 1) !important;
    font-size: 30px;
    font-weight: 600;
}
.header-section li{
    padding: 0 10px;
}
.header-section li a{
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1) !important;
}
.banner-img img{
    width: 100%;
}
.banner-content span{
    color: rgba(211, 211, 211, 0.952);
}
.banner-content h1{
    font-size: 50px;
    font-weight: 600;
    color: #ffff;
    margin-top: 10px;
}
.banner-content p{
    font-size: 16px;
    font-weight: 300;
    color: rgba(211, 211, 211, 0.952);
    line-height: 25px;
}